# ckan --plugin=ckanext-harvest harvester run
*/3 * * * * docker-compose run --rm  --name harvester-run app ckan --plugin=ckanext-harvest harvester run

# ckan --plugin=ckanext-geodatagov geodatagov clean-deleted
1 1 * * * docker-compose run --rm --name clean-deleted app ckan --plugin=ckanext-geodatagov geodatagov clean-deleted

# ckan tracking update 
1 3 * * * docker-compose run --rm --name tracking-update app ckan tracking update

# ckan --plugin=ckanext-geodatagov geodatagov export-csv 
2 2 * * * docker-compose run --rm --name geodatagov-export-csv app ckan --plugin=ckanext-geodatagov geodatagov export-csv

# ckan --plugin=ckanext-geodatagov geodatagov db_solr_sync
0 5 * * 0 docker-compose run --rm --name geodatagov-db_solr_sync app ckan --plugin=ckanext-geodatagov geodatagov db_solr_sync

# pycsw-ckan.py -c load && pycsw-db-admin.py vacuumdb
0 4 * * * docker-compose run --rm --name load-pycsw pycsw load-pycsw

# ckan-pycsw set_keywords 
0 7 * * * docker-compose run --rm --name set_keywords pycsw set_keywords

# pycsw-db-admin.py reindex_fts
0 5 * * 0 docker-compose run --rm --name reindex-fts pycsw reindex-fts

# ckan --plugin=ckanext-geodatagov geodatagov harvest-job-cleanup
30 5 * * * docker-compose run --rm --name harvest-job-cleanup app ckan --plugin=ckanext-geodatagov geodatagov harvest-job-cleanup

# semi annunally. ckan --plugin=ckanext-qa qa collect-ids
0 3 1 1,6 * docker-compose run --rm --name qa-collect-ids app ckan --plugin=ckanext-qa qa collect-ids

# ckan --plugin=ckanext-qa qa update_sel
30 1 * * * docker-compose run --rm --name qa_update_sel app ckan --plugin=ckanext-qa qa update_sel

# ckan --plugin=ckanext-qa qa update
31 3 * * * docker-compose run --rm --name qa_update_1 app ckan --plugin=ckanext-qa qa update
32 3 * * * docker-compose run --rm --name qa_update_2 app ckan --plugin=ckanext-qa qa update
33 3 * * * docker-compose run --rm --name qa_update_3 app ckan --plugin=ckanext-qa qa update
34 3 * * * docker-compose run --rm --name qa_update_4 app ckan --plugin=ckanext-qa qa update
35 3 * * * docker-compose run --rm --name qa_update_5 app ckan --plugin=ckanext-qa qa update
36 3 * * * docker-compose run --rm --name qa_update_6 app ckan --plugin=ckanext-qa qa update
37 3 * * * docker-compose run --rm --name qa_update_7 app ckan --plugin=ckanext-qa qa update
38 3 * * * docker-compose run --rm --name qa_update_8 app ckan --plugin=ckanext-qa qa update

# ckan --plugin=ckanext-geodatagov geodatagov combine-feeds
30 4 * * * docker-compose run --rm --name combine-feeds app ckan --plugin=ckanext-geodatagov geodatagov combine-feeds
